# encoding: utf-8
require 'sinatra'
require 'sqlite3'
@products = {
   "1" => { :name =>  "bread", :cost => "30 ", :kind => "Borodinskii" }, 
   "2" => { :name =>  "butter", :cost => "130 ", :kind => "Ancor" }, 
   "3" => { :name =>  "shugar", :cost => "62 ", :kind => "Brown" },
   "4" => { :name =>  "cake", :cost => "630 ", :kind => "Niome" }, 
   "5" => { :name =>  "cheese", :cost => "560 ", :kind => "Camamber" }
}
@@products = {
   "1" => { :name =>  "Хлеб", :cost => "30 руб.", :kind => "Бородинский" }, 
   "2" => { :name =>  "Масло", :cost => "130 руб.", :kind => "Анкор" }, 
   "3" => { :name =>  "Сахар", :cost => "62 руб.", :kind => "Кусковой" },
   "4" => { :name =>  "Тортик", :cost => "630 руб.", :kind => "Нежность" }, 
   "5" => { :name =>  "Сыр", :cost => "560 руб.", :kind => "Камамбер" } 
}

<ul>
	<% @@products.each do |k, v| %>
	  <li> <%= "№ продукта: #{k}, Наименование: #{v[:name]}, Цена:  #{v[:cost]}, Категория: #{v[:kind]}" %> </li>
	<% end %>
</ul>
<br>