<!DOCTYPE html>
<html>
<head>
  <title>Создаем приложение на Синатре</title>
</head>
<body>

<%= yield %>
<% def hit_count (hit)
  hit += 1
end %>
<%= "Сколько народу! #{hit_count 0}" %>

</body>
</html>
