<h1>Редактирование продукта</h1>
 <form method="post" action='/products/:id'>
   Название:<br>
   <input type="text" name="name" value= <%= @product['name'] %> size="50"><br><br>
   Цена:<br>
   <input type="text" name="cost" value= <%= @product['cost'] %> size="5"><br><br>
   Категория:<br>
   <input type="text" name="category_id" value= <%= @product['category_id'] %> size="5"><br><br><br>
   <input type="submit" name="commit" value="Обновить">
</form>