<% @page_header = 'ПРОДУКТЫ:' %> 
<ul>
	<% @@products.each do |k, v| %>
	  <li> <%= "№ продукта: #{k}, Наименование: #{v[:name]}, Цена:  #{v[:cost]}, Категория: #{v[:kind]}" %> </li>
	<% end %>
</ul>

	
	
