<% @page_header = 'Продукты' %> 

<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Категория</th>
		</tr>
	</thead>
	<tbody>
	<% @products.each do |row| %>
		<tr> 
		 <td> <%= row[0] %> </td>
		 <td> <%= row[1] %> </td>
		 <td> <%= row[2] %> </td>
		 <td> <%= row[3] %> </td>
		</tr>
	<% end %>
	</tbody>
</table>	
	<br>
