<% @page_header = 'ПРОДУКТЫ:' %> 

<table class="table table-striped">
	<% @@db.execute( "select * from products" ) do |row| %>
		<tr> 
		 <td> <%= "№ продукта: #{row[0]}, Наименование: #{row[1]}, Цена:  #{row[2]}, Категория: #{row[3]}" %> </td>
		</tr>
	<% end %>
</table>	
	<br>
