<% @page_header = 'ПРОДУКТЫ:' %> 
<ul>
	<% @@products.each do |e| %>
	  <li> <%= "№ продукта: #{e[:id]}, Наименование: #{e[:name]}, Цена:  #{e[:cost]}, Категория: #{e[:kind]}" %> </li>
	<% end %>
</ul>

	
	
