<h1>Добавить продукт</h1>


<form method="post" action='/products'>
    Название:<br>
    <input type="text" name="name" size="50"><br><br>
    Цена:<br>
    <input type="text" name="cost" size="5">руб.<br><br>
    Категория:<br>
		<p>
			<select name="category_id" class="selectpicker">
				<% @categories.each do |category| %>
					<option value="<%= category['id'] %>"><%= category['name'] %></option>
				<% end %>
			</select>
		</p>
		<br>
    <input type="submit" name="submit" value="Создать">
</form>

