<h1>Добавить продукт</h1>

 <form method="post" action='/products'>
    Название:<br>
    <input type="text" name="name" size="50"><br><br>
    Цена:<br>
    <input type="text" name="cost" size="5"><br><br>
    Категория:<br>
    <input type="text" name="category_id" size="5"><br><br><br>
    <input type="submit" name="submit" value="Создать">
</form>