<% @page_header = "Продукт № #{params[:id]}" %>
<br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Категория</th>
		</tr>
	</thead>
	<tbody>
	<% @@db.execute( "select * from products where id=#{params[:id]}" ) do |row| %>
		<tr> 
		 <td> <%= "#{row[0]}" %> </td>
		 <td> <%= "#{row[1]}" %> </td>
		 <td> <%= "#{row[2]}" %> </td>
		 <td> <%= "#{row[3]}" %> </td>
		</tr>
	<% end %>
	</tbody>
<br>


