<% @page_header = "Продукт № #{params[:id]}" %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Категория</th>
		</tr>
	</thead>
	<tbody>
	<% @product.each do |product| %>
		<tr> 
		 <td> <%= product['id'] %> </td>
		 <td> <%= product['name'] %> </td>
		 <td> <%= product['cost'] %> </td>
		 <td> <%= product['category_id'] %> </td>
		</tr>
	<% end %>
	</tbody>
</table> 	
<br>


