<% @page_header = "Продукт № #{params[:id]}" %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Категория</th>
		</tr>
	</thead>
	<tbody>
		<tr> 
		 <td> <%= @product['id'] %> </td> 
		 <td> <%= @product['name'] %> </td>
		 <td> <%= @product['cost'] %> руб.</td>
		 <td> <%= @categories['name'] %> </td>
		</tr>
	</tbody>
</table> 	
<br>


